@import "tailwindcss";

:root {
  --foreground-primary: #000000;
  --foreground-secondary: #3e3320;
  --background-base: linear-gradient(#ffffff 0%, #eeeeee 50%, #ffffff 100%);
  --background-secondary: #111111;
  --background-elevated: #ffffff;
}

@theme inline {
  --breakpoint-lg: 1120px;
  --breakpoint-md: 680px;
  --breakpoint-sm: 358px;
  --color-background-base: var(--background-base);
  --color-background-secondary: var(--background-secondary);
  --color-background-elevated: var(--background-elevated);
  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --font-poppins: var(--font-poppins);
  --font-caveat: var(--font-caveat);
  --font-inter: var(--font-inter);
  --font-galgin: var(--font-galgin);

  --color-golden-50: #fdf8ec;
  --color-golden-100: #faf1da;
  --color-golden-200: #f5e3b4;
  --color-golden-300: #f1d68f;
  --color-golden-400: #ecc869;
  --color-golden-500: #e7ba44;
  --color-golden-600: #b99536;
  --color-golden-700: #8b7029;
  --color-golden-800: #5c4a1b;

  --color-dark-50: #ecedee;
  --color-dark-100: #dadbdd;
  --color-dark-200: #b4b6bb;
  --color-dark-300: #8f9299;
  --color-dark-400: #696d77;
  --color-dark-500: #444955;
  --color-dark-600: #363a44;
  --color-dark-700: #292c33;
  --color-dark-800: #1b1d22;

  --color-peach-50: #fff9f4;
  --color-peach-100: #fff3e9;
  --color-peach-200: #ffe6d4;
  --color-peach-300: #ffdabe;
  --color-peach-400: #ffcda9;
  --color-peach-500: #ffc193;
  --color-peach-600: #cc9a76;
  --color-peach-700: #997458;
  --color-peach-800: #664d3b;
}

body {
  background: var(--background-base);
  color: var(--foreground-primary);
  font-family: var(--font-poppins), sans-serif;
}

@layer utilities {
  .bg-base {
    background: var(--background-base);
  }
}

@layer utilities {
  .container-app {
    width: 100%;
    max-width: 1120px;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @media (max-width: 1120px) {
    .container-app {
      max-width: 680px;
      padding-inline: 1.5rem;
    }
  }

  @media (max-width: 680px) {
    .container-app {
      max-width: 358px;
      padding-inline: 1rem;
    }
  }

  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
