@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --foreground-primary: #000000;
  --foreground-secondary: #ffffff;
  --foreground-muted: #696d77;
  --foreground-golden: #e7ba44;
  --foreground-golden-gradient: linear-gradient(
    90deg,
    #d19e1d 0%,
    #e8bb46 50%,
    #e3a812 100%
  );
  --background-base: linear-gradient(#ffffff 0%, #eeeeee 50%, #ffffff 100%);
  --background-secondary: #000000;
  --background-elevated: #ffffff;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --breakpoint-lg: 1120px;
  --breakpoint-md: 680px;
  --breakpoint-sm: 358px;
  --breakpoint-xs: 320px;
  --color-background-base: var(--background-base);
  --color-background-secondary: var(--background-secondary);
  --color-background-elevated: var(--background-elevated);
  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-golden: var(--foreground-golden);
  --font-poppins: var(--font-poppins);
  --font-caveat: var(--font-caveat);
  --font-inter: var(--font-inter);
  --font-galgin: var(--font-galgin);
  --font-red-hat-display: var(--font-red-hat-display);
  --font-kapakana: var(--font-kapakana);
  --font-helmorin: var(--font-helmorin);

  --color-button-gradient-primary: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  --color-button-border: #ffffff66;
  --color-button-blur: linear-gradient(to bottom, #ffffff33 0%, #ffffffcc 100%);

  --color-card-background: #f9f9f9;
  --color-card-primary: #0000001a;

  --color-golden-50: #fdf8ec;
  --color-golden-100: #faf1da;
  --color-golden-200: #f5e3b4;
  --color-golden-300: #f1d68f;
  --color-golden-400: #ecc869;
  --color-golden-500: #e7ba44;
  --color-golden-600: #b99536;
  --color-golden-700: #8b7029;
  --color-golden-800: #5c4a1b;

  --color-dark-50: #ecedee;
  --color-dark-100: #dadbdd;
  --color-dark-200: #b4b6bb;
  --color-dark-300: #8f9299;
  --color-dark-400: #696d77;
  --color-dark-500: #444955;
  --color-dark-600: #363a44;
  --color-dark-700: #292c33;
  --color-dark-800: #1b1d22;

  --color-peach-50: #fff9f4;
  --color-peach-100: #fff3e9;
  --color-peach-200: #ffe6d4;
  --color-peach-300: #ffdabe;
  --color-peach-400: #ffcda9;
  --color-peach-500: #ffc193;
  --color-peach-600: #cc9a76;
  --color-peach-700: #997458;
  --color-peach-800: #664d3b;

  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

body {
  background: var(--background-base);
  color: var(--foreground-primary);
  font-family: var(--font-red-hat-display), sans-serif;
}

@layer utilities {
  .bg-base {
    background: var(--background-base);
  }

  .text-golden-gradient {
    background: linear-gradient(90deg, #d19e1d 0%, #e8bb46 50%, #e3a812 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

@layer utilities {
  .container-app {
    width: 100%;
    max-width: 1120px;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @media (max-width: 1120px) {
    .container-app {
      max-width: 680px;
      padding-inline: 1.5rem;
    }
  }

  @media (max-width: 680px) {
    .container-app {
      max-width: 358px;
      padding-inline: 1rem;
    }
  }

  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@layer utilities {
  .bento-grid {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1vw;
    padding: 1vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "hero hero feature1 feature2"
      "stat1 stat2 feature3 feature4"
      "stat3 stat4 stat5 feature5";
  }

  .item {
    border-radius: 5px;
  }

  .item.hero {
    grid-area: hero;
  }
  .item.stat1 {
    grid-area: stat1;
  }
  .item.stat2 {
    grid-area: stat2;
  }
  .item.stat3 {
    grid-area: stat3;
  }
  .item.stat4 {
    grid-area: stat4;
  }
  .item.stat5 {
    grid-area: stat5;
  }

  .item.feature1 {
    grid-area: feature1;
  }
  .item.feature2 {
    grid-area: feature2;
  }
  .item.feature3 {
    grid-area: feature3;
  }
  .item.feature4 {
    grid-area: feature4;
  }
  .item.feature5 {
    grid-area: feature5;
  }

  @media (max-width: 1120px) {
    .bento-grid {
      display: none;
    }
  }
}
